.key {
    border: 4px solid #8b2e2e;
    border-radius: 5px;
    margin: 10px;
    font-size: 10px;
    padding: 1rem .5rem;
    transition: all 0.07s;
    width:80px;
    height: 80px;
    text-align: center;
    color: #c6c4c5;
    background: rgba(0,0,0,0.4);
    text-shadow: 2.1px 0px #b8e2b2;
    background-color: transparent;
    position: inherit;
    top: 225px;
}

.playing{
    transform: scale(1.1);
    border-color: #f5b01d;
    color: white;
    box-shadow: 0 0 100px #b8e2b2; 
    text-shadow: 2.1px 0px black
}

kbd {
    display: black;
    font-size: 40px;
}

.sound{
    font-size: 15px;
    text-transform: uppercase;
    /* text-align: center; */
    letter-spacing: 1px;
    color: #f5b01d;
}

div{
    display: block;
    margin: auto;
    position: absolute;
    float: left;
    left: 40px;
}
.keys {
    position: relative;
}
body {
    /* position: relative; */
    background-image: url("../images/space.jpeg")

}